<% provide(:title, 'Contact') %>

<h1>Contact</h1>

<p>
  Contact the Ruby on Rails Tutorial about the Twitter clone app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>

<p>
  Contact the author of this specific Twitter clone app at his
  <a href="https://www.mradi.co.ke/contact-us/"> contact page</a>.
</p>