<div class="center jumbotron">
  <h1>Welcome to Twirra</h1>
  <h2>
    This was made as a project in the 
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial </a> - sample application.
  </h2>

  <%= link_to 'Sign Up now!', signup_path, class: 'btn btn-lg btn-primary' %>

  <%#= image_tag('t-kids-using-tablet.jpg', alt: 'two babies using a tablet') %>
</div>